@using CleanArchitecture.Blazor.Application.Features.Students.DTOs
@using CleanArchitecture.Blazor.Application.Features.TripReports.Commands.GetOnOff
@using CleanArchitecture.Blazor.Application.Features.TripReports.DTOs
<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column  align-center  gap-3 pa-3">
            @if (Successfull)
            {
                <div class="d-lg-block mud-theme-success rounded px-4" style="height:100%; width:100%; border-radius:100px !important;background-color:#39B02F">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="font-size:48px;line-height:68px">Successfull</MudText>
                </div>
                @if (!string.IsNullOrEmpty(StudentDto.ProfilePicture))
                {
                    <MudImage ObjectFit="ObjectFit.Cover" Src="/img/person.png" Alt="Student" Elevation="25" Class="rounded-lg" Width="300" Height="300" />
                }
                else
                {
                    <MudImage ObjectFit="ObjectFit.Cover" Src="@StudentDto.ProfilePicture" Alt="Student" Elevation="25" Class="rounded-lg" Width="300" Height="300" />
                }
               
                <MudButton FullWidth="true" Size="Size.Large" Variant="Variant.Filled" OnClick="OnConfirm" Color="Color.Primary">Confirm</MudButton>
            }
            else
            {
                <div class="d-lg-block  mud-theme-error rounded px-4" style="height:100%; width:100%; border-radius:100px !important;background-color:#D7483F">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="font-size:48px;line-height:68px">Not Successfull</MudText>
                </div>
                <MudImage ObjectFit="ObjectFit.Cover" Src="/img/person.png" Alt="Student" Elevation="25" Class="rounded-lg" Width="300" Height="300" />
            }
       
            <MudButton FullWidth="true" Size="Size.Large" Variant="Variant.Outlined" OnClick="OnReportIncident" Color="Color.Error">Report Incident</MudButton>
        </div>

    </DialogContent>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public bool Successfull { get; set; } = true;
    [Parameter]
    public TripReportDto TripReportDto { get; set; }
    [Parameter]
    public string QRCode { get; set; }
    [Parameter]
    public GeolocationPosition Position { get; set; }
    [Parameter]
    public StudentDto StudentDto { get; set; }
    [Parameter]
    public string Location { get; set; }
    private async Task OnConfirm()
    {
        var result = await Mediator.Send(new GetOnOffCommand()
            {
                TripId = TripReportDto.Id,
                UID = QRCode,
                Latitude = Position?.Coords.Latitude,
                Longitude = Position?.Coords.Longitude,
                Location = Location,
                StudentId = StudentDto.Id,
                TenantId = TripReportDto.TenantId,
                Manual=false,

            });
        if (result.Succeeded)
        {
            MudDialog.Close(DialogResult.Ok(true));
            Snackbar.Add($"Checkin successfully.", MudBlazor.Severity.Success);
        }
        else
        {
            Snackbar.Add($"{result.ErrorMessage}", MudBlazor.Severity.Error);

        }

    }
    private async Task OnReportIncident()
    {
        MudDialog.Cancel();
    }
}
